
body{
  margin: 0px;
  font-family: 'Rokkitt', serif;
}

header img {
  height: 45px;
}

.barcamp--logo{
  padding: 10px 0 10px 10px;
  background: #2d4947;
}

.barcamp--logo__graphic{
  width: 200px;
}

.menu{
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.header--image{
  position: relative;
  height: 600px;
  background: url("assets/trees.png"), url("assets/lake.png"), url("assets/mountains.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.image--container{
  width: 100%;
  margin: 0 auto;
}

.hero--logo{
  width: 100%;
  margin-top: 50px;
}

.date{
  width: 70%;
}

.aiga{
  padding: 5px 0;
  background: #546564;
  text-align: center;
}

.aiga--graphic {
  width: 90%;
  max-width: 350px;
}

/*.bc{
  display: block;
  height: 60px;
  width: 355px;
  margin-bottom: -6px;
  background: #2D4947;
}*/

/*.bc2{
  display: block;
  height: 60px;
  width: 355px;
  background: #546564;
}*/

.bird{
  margin-top: 600px;
  height: 50px;
  width: 50px;
}

.birdline{
  margin-top: -30px;
  margin-left: -20px;
}

/*.button {
margin-left: 40px;
display: block;
height: 50px;
width: 150px;
background: #6ba236;

color: white;
text-align: center;
padding: 17px 38px 15px;
font: 700 18px "Arial";
border-radius: 50px;*/

.button {
  margin-left: 120px;
  margin-top: -100px;
  display: block;
  height: 30px;
  width: 150px;
  text-align: center;
  padding: 17px 38px 15px;
  border-radius: 40px;
  background: #6ba236;
  color: #fff;
  font: 700 18px "proxima-nova", Arial, sans-serif;
}

.talk{
  margin-top: 30px;
  padding: 30px;
  text-align: left;
  color: #546564;
}

p{
  font-size: 22px;
}

.talk2{
  margin-top: 80px;
  padding: 30px;
  text-align: center;
  font-size: 34px;
  color: #546564;
}

.dash{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("assets/dash-horizontal.png");
  background-repeat: repeat-x;
  width: 350px;
  height: 15px;
}

.section2titles{
  text-align: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #6DA13D;
}

.section2pics{
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}

.list{
  list-style-type: none;
  color: #6B502C;
  line-height: 2;
  text-align: center;
  display: inline;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

hr{
  margin-top: 130px;
  margin-bottom: -40px;
  height: .5px;
  width: 325px;
  color: #6B502C;
}

.backgroundbrown{
  display: block;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("assets/board.jpg");
  background-repeat: repeat;
  height: 4200px;
}

.event{
  margin-top: 120px;
  margin-left: -10px;
  transform: scale( 0.65, 0.65);
}

.colortext{
  text-align: center;
}

.colortext > h1{
  font-size: 50px;
  color: #ECC44F;
}
.colortext > p{
  padding: 20px;
  font-size: 22px;
  color: white;
}

.circle{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 80%;
  width: 65px;
  height: 65px;
  border: 2.5px solid #CF5834;
  font-size: 30px;
  text-align: center;
}

.circle > h2 {
  margin-top: 0px;
}

.circle > p {
  font-size: 18px;
  margin-top: -45px;
}

.arial_time{
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.arial_time > p {
  padding: 20px;
  line-height: 180%;
  font-size: 16px;
}

.fire{
  margin-left: -210px;
  transform: scale( 0.35, 0.35);
}


.backgroundblue{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #CBECF7;
  width: 500px;
  height: 1800px;
  color: #6B502C;
}


#faq{
  margin-top: 120px;
  margin-left: 40px;
}

.backgroundblue > ul{
  margin-top: 100px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  list-style-image: url("assets/plus.png");
  line-height: 410%;
}

#tower{
  height: 50%;
  width: 100%;
  margin-top: 50px;
  margin-left: -10px;
  
}